{% extends "base.html" %}

{% block content %}
  <table id="data" class="table table-striped">
    <thead>
      <tr>
        <th scope="col">UserId
        <th scope="col"> Customer Name</th>
        <th scope="col">Total Number of messages</th>

       
        
      </tr>
    </thead>
    <tbody>
        {% for user in userDetails %}
        <tr>
            <td>{{user[0]}} </td>
            <td>{{user[1]}} </td>
            <td>{{user[2]}} </td>
            <td>{{user[3]}} </td>            
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}

{% block scripts %}
  <script>
    $(document).ready(function () {
      $('#data').DataTable({
        columns: [
          {searchable: true},
          {orderable: true, searchable: false},
          {orderable: true, searchable: false},
        ],
      });
    });
  </script>
{% endblock %}